@page "/operativos"
@inject IJSRuntime JSRuntime
@using TerrazasManager.Db
@using TerrazasManager.Db.Models
<h3>Operativos</h3>
<NavLink href="/operativos/add">
    <span>Añadir Operativos</span>
</NavLink>

